@import url('https://fonts.googleapis.com/css?family=Sintony:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
@keyframes rotate_Order {
	0% {
		 	transform: rotate(0deg);
	}
	25% {
		transform: rotate(60deg);
	}
	50% {
		transform: rotate(0deg);
	}    
	75% {
		 	transform: rotate(-60deg);
	}
	100% {
			transform: rotate(0deg);
	}
}

html {
	font-size: 16px; /*Изменять размер шрифта тута*/
}

body {
	font-family: 'Sintony', sans-serif;
	color: #878d91;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

button, 
button:active, 
button:focus {
	outline: none;
}

.logo{
	margin: 24px 0; 
}

.menu {
	list-style: none;
	margin-top: 40px; 
}

.menu__item {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 0.875rem;
}

.menu__item a {
	color: #2c465a;
	outline: none;
	text-decoration: none;
}

.menu__item a:hover {
	color: #fea100;
}

.book {
	margin-top: 26px;
	width: 190px;
	height: 40px; 
	border-radius: 5px;
	background: #fea100;
	border:none;
	outline: none;
}

.book:hover {
	cursor: pointer;
}

.book:active {
  box-shadow: 0 0 10px #00823F;
}

.book:hover img{
	animation: rotate_Order 0.7s ease;
	animation-iteration-count: 1;
}

.book img {
	margin-right: 15px;
}


.book__text {
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: 700;
	margin: 0;
	color: #fff;
}

.icon {
	display: none;
	position: absolute;
  top: 10px;
  right: 10px;
}

.icon__img {
	width: 40px;
	height: 40px;
}

.icon__img:hover {
	cursor: pointer;
}

/*конец шапки*/

.intro {
	background: url(..//img/first-bg.jpg) no-repeat center top;
}

.title {
	padding: 21% 0 22.7% 0;
}

.title__text {
	color: #fff;
	font-family: 'Playfair Display', serif;
	font-size: 3.5rem;
	font-weight: 700;
	margin: 0;
	line-height: 0.7em;
}

.title__text_from{
	font-size: 2.5rem;
}

.title__text_lux {
	color: #fea100;
	font-size: 2.5rem;
}

/*конец header*/

.phone {
	background: #edf1f3;
}


.info {
	padding: 2.08% 0;
}

.info__icon img {
	margin-right: 18px;
}

.info__text {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1rem;
	margin-right: 45px;
	color: #14141d;
	line-height: 1.2em;
}

.info__text span {
	color: #fea100;
	font-size: 1.125rem;
}

.info__number {
	font-size: 2.25rem;
	font-weight: 700;
	color: #14141d;
}

/*конец секции первой*/

.aboutInfo a{
	text-decoration: none;
}


.aboutInfo__header {
	color: #14141d;
	font-size: 2.875rem;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	padding-top: 22%; 
	margin: 0;
}

.aboutInfo__intro {
	padding-top: 7.407407407%; 
	padding-bottom: 7.407407407%;
	color: #5c6369;
	margin: 0;
}

.aboutInfo__read  {
	width: 150px;
	height: 50px;
	background: #fea100;
	border-radius: 4px;
	color: #fff;
	margin-bottom: 22%; 
}

.aboutInfo__read p {
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	padding: 0;
	color: #fff;
}

.food1 img, .food2 img {
	width: 100%;
	height: 100%;
}

.food1 {
	padding-top: 120px; 
}

.food1 img:first-child {
	margin-bottom: 10px;
}

.food2 {
	padding-top: 65px; 
}

.food2 img:first-child {
	margin-bottom: 10px;
}

.special {
	background:url(..//img/third-bg.jpg) no-repeat center top;
}

.special__header {
	font-family: 'Playfair Display', serif;
	color: #fff;
	font-weight: 700;
	font-size: 2.875rem;
	padding-top:  9.009009009%;
	margin-bottom: 2.702702702%;
}

.cart {
	box-shadow: 0 25px 30px rgba(0,0,0,0.1);
	margin-bottom: 23.148148148%;
}

.cart__img {
	width: 100%;
	margin-bottom: 9.259259259%; 
}

.cart__header {
	text-align: center;
	color: #14141d;
	font-family: 'Playfair Display', serif;
	font-size: 2.1875rem;
	font-weight: 700;
	margin-bottom: 3.703703703%; 
}

.cart__text {
	color: #878d91;
	text-align: center;
	width: 80%;
	margin: 0 auto 0 auto;
	padding-bottom: 11.111111111%;
	border-bottom: solid 1px #e1e1e1;
}

.cart__info {
	padding: 4.629629629% 0 6.111111111% 0;
}

.cart__home {
	border-right: solid 1px #e1e1e1;
	text-transform: uppercase;
	color: #14141d;
	font-weight: 700;
	font-size: 1.0625rem;
	padding: 0 4.629629629% 0 6.111111111%;
}

.cart__home span {
	color: #fe70a4;
}

.cart__number {
	font-weight: 700;
	color: #000;
	padding-top: 1.296296296%;
	font-size: 1.625rem;
}

.cart__price {
	font-weight: 700;
	color: #fea100;
	font-size: 1.875rem;
	padding-right: 6.666666666%;
}

footer {
	background: #373844;
}

.links {

}

.links__items {
	padding-top: 6.58%;
	width: 175px;
	margin: 0 auto;
}

.links__items_f {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #3b5998;
}

.links__items_tw {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #55acee;
}

.links__items_gp {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #dd4b39;
}

.copy {
	padding: 14.285% 0 14.285% 0;
	font-weight: 400;
	font-size: 1.0625rem;
}

.line {
	margin: 61px 0 0 0;
	height: 1px;
	width: 100%;
	background: #52535e;
}	

 
@media (max-width: 992px) {
.logo{
	margin: 24px 0 0 0; 
}
.book {
	margin: 15px 0 15px 0;
}
.icon {
	display: block;
}
.menu {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	transition: all 0.6s ease-in 0;
}
.menu__item {
	font-size: 1.375rem;
	text-align: center;
}
.aboutInfo__header {
	padding-top: 10%;
}
.aboutInfo__read {
	margin-bottom: 10%;
}
}


@media (max-width: 768px){
.info__number {
	font-size: 1.8rem;
}
}

@media (max-width: 575px){
.aboutInfo__header{
	text-align: center;
}
.aboutInfo__intro {
	text-align: center;
}
.aboutInfo__read {
	margin: 0 auto 10% auto;
}
.cart__home {
	border: none;
	padding: 0;
}
.cart__price {
	padding: 0;
	margin: 0;
}
}


@media (max-width: 510px){
.title__text {
	font-size: 2.8rem;
	line-height: 1.1em;
}
.title__text_from{
	font-size: 2.2rem;
}
.title__text_lux {
	color: #fea100;
	font-size: 2.2rem;
}
.info {
	flex-direction: column;
	align-items: center;
}
.info__text{
	margin: 0;
}
.info__icon {
	display: none;
}
.cart__text {
	color: #000;
}
}



@media (max-width: 424px) {
.title__text {
	font-size: 2.4rem;
	line-height: 1.1em;
}
.title__text_from{
	font-size: 1.8rem;
}
.title__text_lux {
	color: #fea100;
	font-size: 1.8rem;
}
.aboutInfo__header {
	font-size: 1.9rem;
}
.special__header {
	font-size: 2.4rem;
}
}


@media (max-width: 374px){
.title__text {
	font-size: 2rem;
	line-height: 1.1em;
}
.title__text_from{
	font-size: 1.5rem;
}
.title__text_lux {
	color: #fea100;
	font-size: 1.5rem;
}
.icon__img {
    width: 30px;
    height: 30px;
}
}